.productImg img {
    height: 350px;
}

.productContent p {
    line-height: 10px;
}

.productBtn .addToCart {
    margin-right: 40px;
}

.productBtn .btn {
    width: 120px;
}

.quantity-group input {
    width: 230px;
}

.clickBtn:hover {
    cursor: pointer;
    color: blue;
}

@media (max-width: 767px) {
    .productContent {
        text-align: center;
    }
}